body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

.display {
    font-size: 36px;
    border: none;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%; /* Limit the width to the container width */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.btn {
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
    border: none;
    background-color: #d3d3d3;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #666;
    color: #fff;
}

.operator {
    background-color: #2b9c93;
    color: #fff;
}

.zero {
    grid-column: span 2;
}
#result{
    grid-column: span 2;
}
#cancel{
    grid-column: span 2;
}