*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}
.header{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    padding:20px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #11030a;
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    font-size:18px;
    color:#f9f6f6;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition:.3s;
}
.navbar a:hover,
.navbar a.active{
    color:#00abf0;

}
.home{
    height:100vh;
    background:linear-gradient(-90deg,#032f80 65%,#75eaf3 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:0 10%;
}
.home-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background:#73ffe3;
    border: 25px solid #032f80;
    border-radius: 50%;
    outline: 5px solid #75eaf3;
}
.home-image img{
    
    bottom: 22px;
    max-width: 380px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content{
    max-width: 600px;
    color: #f6f5f5;
    text-align: right;
}
.home-content h1{
    font-size: 55px;
    line-height: 1.2;
}
.home-content h3{
    font-size: 40px;
    color:transparent;
    -webkit-text-stroke: .5px #fcf7f7;
   
    
}

.home-content p{
    font-size: 16px;
    margin-top: 20px;

}
.home-sci{
    margin: 25px 0 40px;
}
.home-sci a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background: transparent;
    border:2px solid #f0e8e8;
    border-radius: 50%;
    font-size: 20px;
    color:#00abf0;
    text-decoration: none;
    margin-left: 12px;
    transition: .5s;
    cursor: pointer;
}
.home-sci a:hover{
    background-color: #00abf0;
    color: #fff4f4;
    border-color: #00abf0;
    box-shadow: 0 0 1px #00abf0;
}
.btn{
    padding: 12px 35px;
    background:#00abf0;
    border-radius: 40px;
    font-size: 17px;
    color: #faf8f8;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #00abf0;
    transition: .5s;
}
.btn:hover{
    box-shadow: none;

}
section {
    padding: 1rem;
  }
  section h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  section ul {
    list-style: none;
    padding: 0;
  }
  section ul li {
    margin-bottom: 0.5rem;
  }
  footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  #skills{
    padding: 12px 35px;
    background:#ff386a;
    font-size: 17px;
    color: #faf8f8;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #ff0442;
    transition: .5s;
}
#projects{
    
    justify-content: center;
    align-items: center;
    padding: 12px 35px;
    background:#032f80;
    font-size: 17px;
    color: #faf8f8;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #032f80;
    transition: .5s;
}
#contact{
    padding: 12px 35px;
    background:#ff8742;
    font-size: 17px;
    color: #faf8f8;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #ff8742;
    transition: .5s;
}